# result folder
/flwr_simulation
/runs

# data folder
/dataset
base_data/
prepared_data/
bdd100k*
labels/
training/
testing/

# downloaded models
yolov8n.pt
yolo11n.pt

# virtual environment files
/.venv

# miscellaneous
.vscode
previous versions
/obj_yolo/__pycache__/
obj_yolo.egg-info
fed_yolo.egg-info
__pycache__
uv.lock
