# result folder
/fed_yolo

# data folder
/data/

# downloaded models
yolov8n.pt
yolo11n.pt

# virtual environment files
/.venv

# env file
/obj_yolo/.env

# miscellaneous
.vscode
previous versions
/obj_yolo/__pycache__/
obj_yolo.egg-info

# dataset folders
base_data/
prepared_data/